<div ng-controller="homeCtrl">
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Concert Finder App</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- Mail symbool -->
                <li class="dropdown">
                    <a class="dropdown-toggle" ng-click="logout()">
                        <i class="fa fa-sign-out fa-fw"></i>
                    </a>
                </li>
                <li class="dropdown"></li>
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="debug = !debug">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li ng-repeat="event in data.events">
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> {{event.artist}}<span class="fa arrow"></span></a>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
            </nav>
            <div id="page-wrapper">
                <button ng-click="nextEvent()">Next!</button>
                <div ng-show="data.events.length > 0">
                    <poster-comp data="data" getNext="nextEvent()" update="update(key, value)"></poster-comp>
                </div>
                <div ng-show="data.events.length < 1">
                    No more items :(
                    <button ng-click="getEvents()">Get Events</button>
                </div>

                <div ng-show="debug">
                    <div>
                        <div ng-repeat="event in data.events">
                            {{event}}
                        </div>
                    </div>
                    <div>
                        [<div ng-repeat="artist in data.artists">"{{track}}",</div>]
                    </div>
                </div>
            </div>    
        </div>
    </div>